@charset "utf-8";

.table {
    max-width: 700px;
    margin: 0 auto;
}

.td {
    text-align: end;
}

.count {
    text-align: center;
    margin: 17rem;
}

.total {
    text-align: center;
    width: fit-content;
    margin: 1rem auto;
    text-decoration: underline;
    text-underline-offset: 2px;
}

.delete {
    text-align: center;
}

.delete div {
    display: flex;
    text-decoration: none;
    color: #000;
    justify-content: center;
    cursor: pointer;
}

.background {
    position: absolute;
    height: 1rem;
    width: 1rem;
    background-color: rgba(184, 184, 184, 0.336);
    top: auto;
    margin: .35rem auto;
    border-radius: 50%;
    border: 1px solid #4b4b4b;
}

.info_wrap {
    background-color: rgba(175, 175, 175, 0.145);
    max-width: 700px;
    margin: auto;
    padding: 1rem;
}

.info {
    width: fit-content;
    margin: 0 auto;
    position: relative;
    margin-left: 2em;
    font-weight: 600;
}

.address {
    width: fit-content;
    margin: 0 auto;
}

.address_num, .address_detail {
    margin: 0 auto;
}

.change_address {
    display: block;
    width: fit-content;
    margin: 0 auto;
    position: relative;
    margin-right: 0;
    font-size: smaller;
    color: gray;
    text-underline-offset: 2px;
}

.div {
    margin-bottom: 4rem;
}

.pay_wrap {
    text-align: center;
}

.pay {
    width: 15em;
    border: none;
    border-bottom: 1px solid #000;
    background-color: inherit;
    cursor: pointer;
}

.pay:focus {
    outline: none;
}

.button_wrap {
    display: flex;
}

.button {
    text-decoration: none;
    color: #000;
    padding: 10px 20px;
    background-color: rgba(209, 209, 209, 0.336);
    border-radius: 25px;
    border: 1px solid #4b4b4b;
    width: fit-content;
    margin: auto;
    margin-bottom: 1rem;
    transition: .2s all;
}

.prev {
    position: relative;
    margin-right: 6rem;
    cursor: pointer;
}

.next {
    position: relative;
    margin-left: 6rem;
    cursor: pointer;
}

.button:hover {
    background-color: rgba(209, 209, 209, 0.782);
    color: #000;
}
.total {
    text-align: center;
    width: fit-content;
    margin: 1rem auto;
    text-decoration: underline;
    text-underline-offset: 2px;
    font-size: 25px;
}