body {
    text-align: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif; /* 任意のフォントを指定してください */
}

p {
    margin: 10px 0;
}

select, input, button {
    margin-bottom: 10px;
}

form {
    text-align: center;
}
