body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif; /* 任意のフォントを指定してください */
}

p {
    margin: 10px 0;
}

img {
    float: left; /* 画像を左側に配置 */
    margin-right: 20px; /* 画像とテキストの間隔を設定 */
}

button {
    margin-top: 20px; /* ボタンとテキストの間隔を設定 */
}
