.liquorlist {
    width: 50px;
    height: 50px;
    object-fit: contain;
}
.table {
    max-width: 700px;
    margin: 0 auto;
}
.th{
    text-align: center;
    background-color: darkgrey !important;
}
.td {
    text-align: center;
    vertical-align: middle;
    color: white;
}
.div {
    margin-bottom: 4rem;
}
.button_wrap {
    display: flex;
}
.button {
    text-decoration: none;
    color: #000;
    padding: 10px 20px;
    background-color: rgba(209, 209, 209, 0.336);
    border-radius: 25px;
    border: 1px solid #4b4b4b;
    width: fit-content;
    margin: auto;
    margin-bottom: 1rem;
    transition: .2s all;
}
.button:hover {
    background-color: rgba(209, 209, 209, 0.782);
    color: #000;
}
h2{
    text-align: center;
    color: white;
}