h2{
    text-align: center;
}
.table {
    margin: 0 auto;
    max-width: 90%;
}
.th{
    text-align: center;
    background-color: darkgrey !important;
}
.td {
    text-align: center;
    vertical-align: middle;
}
.div {
    margin-bottom: 4rem;
}