@charset "utf-8";

.title {
    font-size: 1.5rem;
    font-weight: 600;
    text-align: center;
    margin-top: 1rem;
}

.table {
    max-width: 400px;
    margin: 0 auto;
}

.subtitle {
    text-align: end;
}

.submit {
    padding: 5px 20px;
    background-color: rgba(209, 209, 209, 0.336);
    border-radius: 25px;
    border: 1px solid #4b4b4b;
    width: fit-content;
    margin: 2rem auto;
    margin-bottom: 1rem;
    transition: .2s all;
    cursor: pointer;
}

.submit:hover {
    background-color: rgba(209, 209, 209, 0.782);
}

.error {
    text-align: center;
    color: rgb(230, 0, 0);
    font-size: smaller;
}

#buttonEye {
    position: absolute;
    top: auto;
    width: fit-content;
    right: 0;
    left: 15rem;
    margin: .4em auto;
    cursor: pointer;
}

.info {
    margin-top: 2rem;
    text-align: center;
}

.info a {
    text-underline-offset: 2px;
}