h3{
    color: red;
    display: flex;
    min-height: 50vh;
    margin: 0;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.error{
    display: flex;
    margin: 0;
    justify-content: center;
    align-items: center;
    text-align: center;
}