h1{
    background-color: #d9d9d9;
    height: 55px;
    margin-left: auto;
}

h3{
    text-align: center;
}
span{
    font-weight: bold;
    font-size: large;
    display: block;
    width: fit-content;
    margin-left: 5rem;
}
.radiobutton{
    display: none;
}
label{
    background-color: whitesmoke;
    padding: 7px 18px;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
.radiobutton:checked + label{
    background-color: skyblue;
}

.snackQue-label {
    margin-bottom: 3%;
}

.snackQue-cnt {
 justify-content: center;
 display: flex;
}

.alcoholQue-label {
    margin-bottom: 3%;
}

.alcoholQue-cnt {
    justify-content: center;
    display: flex;
}
.send {
    text-decoration: none;
    color: #000;
    padding: 10px 20px;
    background-color: rgba(209, 209, 209, 0.336);
    border-radius: 25px;
    border: 1px solid #4b4b4b;
    width: fit-content;
    margin: auto;
    margin-bottom: 1rem;
    transition: .2s all;
    text-align: center;
}
.send:hover {
    background-color: rgba(209, 209, 209, 0.782);
    color: #000;
}
.skip {
    text-decoration: none;
    color: #000;
    padding: 10px 20px;
    background-color: rgba(209, 209, 209, 0.336);
    border-radius: 25px;
    border: 1px solid #4b4b4b;
    width: fit-content;
    margin: auto;
    margin-bottom: 1rem;
    transition: .2s all;
}
