h1{
    background-color: #d9d9d9;
    height: 55px;
    margin-left: auto;
}
span{
    font-weight: bold;
    font-size: large;
    display: block;
    width: fit-content;
    margin-left: 5rem;
}
.radiobutton{
    display: none;
}
label{
    background-color: whitesmoke;
    padding: 7px 18px;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
.radiobutton:checked + label{
    background-color: skyblue;
}

.snackQue-label {
    margin-bottom: 3%;
}

.snackQue-cnt {
 justify-content: center;
 display: flex;
}

.alcoholQue-label {
    margin-bottom: 3%;
}

.alcoholQue-cnt {
    justify-content: center;
    display: flex;
   }
