.liquorlist {
    width: 250px;
    height: 250px;
    object-fit: contain;
}
button{
    border: none;
    background: transparent;
}

.listmargin {
    margin: 10 auto;
}

.ans{
    display: flex;
    min-height: 50vh;
    margin: 0;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 40px; 
}

.ansgo {
    display: flex;
    margin: 0;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 30px;
}